section(data-background-color='#446971')
  p Code Snippet with Highlight!
  pre
    code.javascript.
      const name = 'Willian Justen';
      const sayHello = name => {
        console.log(`Hello ${name}!`)
      }
