- var notes = 'Aqui você consegue colocar qualquer nota para te ajudar nos slides. Basta adicionar um data-notes na section.'

section(data-notes=notes)
  img(src="img/qualy-presenter.png", alt="")
  p
    a(href="https://github.com/Qualy-org/qualy-presenter") Look the code on Github <3
