- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  p.
    You can add notes to your slide and to read the notes and view previews, just press <span class='red'>S</span>.
  img(src="img/speaker-notes.png" class='small-size')
