section(data-background-color='#446971')
  pre
    code
      | var linearMultHash = function(n, HASH_TABLE_SIZE) {
      |   var A = 0.642384983213213;
      |   var value = n * A;
      |   value = value * (int)value;
      |   return value * HASH_TABLE_SIZE;
      |}
