doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1
        include ../slides/slide-2
        include ../slides/slide-3
        include ../slides/slide-4
    include inc/scripts
