.hljs
  display block
  overflow-x auto
  padding 0.5em
  color #333
  background #fff

.hljs-comment,
.hljs-quote
  color #777
  font-style italic

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst
  color #333
  font-weight bold

.hljs-number,
.hljs-literal
  color #777

.hljs-string,
.hljs-doctag,
.hljs-formula
  color #333
  background url(data:image/png

.hljs-title,
.hljs-section,
.hljs-selector-id
  color #000
  font-weight bold

.hljs-subst
  font-weight normal

.hljs-class .hljs-title,
.hljs-type,
.hljs-name
  color #333
  font-weight bold

.hljs-tag
  color #333

.hljs-regexp
  color #333
  background url(data:image/png

.hljs-symbol,
.hljs-bullet,
.hljs-link
  color #000
  background url(data:image/png

.hljs-built_in,
.hljs-builtin-name
  color #000
  text-decoration underline

.hljs-meta
  color #999
  font-weight bold

.hljs-deletion
  color #fff
  background url(data:image/png

.hljs-addition
  color #000
  background url(data:image/png

.hljs-emphasis
  font-style italic

.hljs-strong
  font-weight bold

