head
	meta(charset="UTF-8")
	meta(name="description" content="some description about the slides")
	meta(name="author" content="You")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet", type="text/css", href="css/main.css")
