/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

@import "reveal-themes/black"
// @import "reveal-themes/white"
// @import "reveal-themes/league"
// @import "reveal-themes/blood"
// @import "reveal-themes/beige"



/*
* Highlight Themes
* uncomment your favorite theme
* check them live at: https://highlightjs.org/static/demo/
* and convert them from this: https://github.com/isagalaev/highlight.js/tree/master/src/styles
*/
@import "highlight-themes/agate"
// @import "highlight-themes/androidstudio"
// @import "highlight-themes/arduino-light"
// @import "highlight-themes/arta"
// @import "highlight-themes/ascetic"
// @import "highlight-themes/atelier-cave-dark"
// @import "highlight-themes/atelier-cave-light"
// @import "highlight-themes/atelier-dune-dark"
// @import "highlight-themes/atelier-dune-light"
// @import "highlight-themes/atelier-estuary-dark"
// @import "highlight-themes/atelier-estuary-light"
// @import "highlight-themes/atelier-forest-dark"
// @import "highlight-themes/atelier-forest-light"
// @import "highlight-themes/atelier-heath-dark"
// @import "highlight-themes/atelier-heath-light"
// @import "highlight-themes/atelier-lakeside-dark"
// @import "highlight-themes/atelier-lakeside-light"
// @import "highlight-themes/atelier-plateau-dark"
// @import "highlight-themes/atelier-plateau-light"
// @import "highlight-themes/atelier-savanna-dark"
// @import "highlight-themes/atelier-savanna-light"
// @import "highlight-themes/atelier-seaside-dark"
// @import "highlight-themes/atelier-seaside-light"
// @import "highlight-themes/atelier-sulphurpool-dark"
// @import "highlight-themes/atelier-sulphurpool-light"
// @import "highlight-themes/brown-paper"
// @import "highlight-themes/codepen-embed"
// @import "highlight-themes/color-brewer"
// @import "highlight-themes/dark"
// @import "highlight-themes/darkula"
// @import "highlight-themes/default"
// @import "highlight-themes/docco"
// @import "highlight-themes/dracula"
// @import "highlight-themes/far"
// @import "highlight-themes/foundation"
// @import "highlight-themes/github"
// @import "highlight-themes/github-gist"
// @import "highlight-themes/googlecode"
// @import "highlight-themes/grayscale"
// @import "highlight-themes/gruvbox-dark"
// @import "highlight-themes/gruvbox-light"
// @import "highlight-themes/hopscotch"
// @import "highlight-themes/hybrid"
// @import "highlight-themes/idea"
// @import "highlight-themes/ir-black"
// @import "highlight-themes/kimbie.dark"
// @import "highlight-themes/kimbie.light"
// @import "highlight-themes/magula"
// @import "highlight-themes/mono-blue"
// @import "highlight-themes/monokai"
// @import "highlight-themes/monokai-sublime"
// @import "highlight-themes/obsidian"
// @import "highlight-themes/paraiso-dark"
// @import "highlight-themes/paraiso-light"
// @import "highlight-themes/pojoaque"
// @import "highlight-themes/purebasic"
// @import "highlight-themes/qtcreator_dark"
// @import "highlight-themes/qtcreator_light"
// @import "highlight-themes/railscasts"
// @import "highlight-themes/rainbow"
// @import "highlight-themes/chool-book"
// @import "highlight-themes/olarized-dark"
// @import "highlight-themes/olarized-light"
// @import "highlight-themes/unburst"
// @import "highlight-themes/tomorrow"
// @import "highlight-themes/tomorrow-night"
// @import "highlight-themes/tomorrow-night-blue"
// @import "highlight-themes/tomorrow-night-bright"
// @import "highlight-themes/tomorrow-night-eighties"
// @import "highlight-themes/vs"
// @import "highlight-themes/xcode"
// @import "highlight-themes/xt256"
// @import "highlight-themes/zenburn"
/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"
