/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

@import "reveal-themes/black"
// @import "reveal-themes/white"
// @import "reveal-themes/league"
// @import "reveal-themes/blood"
// @import "reveal-themes/beige"



//In src/styl/highlight-themes have more awesome themes !!
@import "highlight-themes/agate"
/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"
