/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/blood"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/atelier-cave-dark"
