/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

@import "reveal-themes/black"
// @import "reveal-themes/beige"
// @import "reveal-themes/blood"
// @import "reveal-themes/league"
// @import "reveal-themes/moon"
// @import "reveal-themes/night"
// @import "reveal-themes/serif"
// @import "reveal-themes/simple"
// @import "reveal-themes/sky"
// @import "reveal-themes/solarized"
// @import "reveal-themes/white"
